.nc_cp {
    margin: 0 auto 0 auto !important;
    padding: 0 8px 6px 0px !important;
    color: #94CD1B !important;
    background: #F8F8F8;
    border-radius: 0 0 0 10px;
    font-size: 14px !important;
    font-family: "Helvetica Neue", arial, helvetica, sans-serif !important;
    float: left;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: 5px 5px 5px grey;
    opacity: 80%;
}

.nc_logo {
    padding: 0 !important;
    width: 360px !important;
    height: 40px !important;
    float: left !important;
    background: transparent url('../images/nc_logo.png') no-repeat left !important;
    text-align: right !important;
    font-weight: bold !important;
    border: none !important;
}

a.nc_edit {
    font-size: 10px !important;
    text-decoration: none !important;
    text-transform: none !important;
    border: none !important;
    display: inline !important;
    line-height: 12px !important;
    position: relative;
}

.nc_button:hover {
    background-color: grey;
    color: white;
}

.nc_button {
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 3px;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}

.nc_button a,
.nc_button a:link,
.nc_button a:visited,
.nc_button a:active {
    color: #94CD1B;
}

.nc_button a .nc_icon {
    padding: 0px 0px 0px 20px;
    height: 16px;
}

.nc_icon_title {
    background: url('../images/application_get.png') no-repeat left top;
}

.nc_icon_logout {
    background: url('../images/lock.png') no-repeat left top;
}

a.nc_login_link {
    font-size: 10px !important;
    text-decoration: none !important;
    text-transform: none !important;
    border: none !important;
    display: inline !important;
    line-height: 16px !important;
}

.nc_clear {
    clear: both;
}