/* reset all elements */
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: "Helvetica Neue", arial, helvetica, sans-serif;
    background: #D6D5D5;
    color: #FFFFFF;
    border-top: #E6E5E5 30px solid;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a:link {
    color: #5AA600;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:visited {
    color: #5AA600;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:hover,
a:active {
    color: #437C00;
    text-decoration: none;
    border-bottom: 1px dotted;
}

/* custom elements */
#wrapper {
    margin: 20px auto;
    width: 760px;
}

#login {
    margin: 0 auto;
    width: 410px;
    background: #F8F8F8 url('../images/content_background.png') top center repeat-y;
}

#header {
    background: #F8F8F8 url('../images/header_background.png') top center no-repeat;
}

#header img {
    display: block;
    padding-top: 8px;
}

.nc_centered {
    width: 100%;
    text-align: center;
}

.loginform {
    margin: 0 20px 20px 120px;
}

.loginform p input {
    padding: 1px;
    width: 160px;
}

.loginform p label {
    font-weight: bold;
    font-size: 12px;
    color: #444444;
}

#login .footer {
    display: block;
    width: 410px;
    height: 38px;
    background: #F8F8F8 url('../images/footer_background.png') top center no-repeat;
}

#backtosite a {
    position: absolute;
    top: 7px;
    left: 15px;
    text-decoration: none;
    font-size: 14px;
    border: none;
}

.powered_by {
    background: transparent;
    text-align: center;
    font-size: 11px;
    color: #222222;
}

.nc_button:hover {
    background-color: grey;
    color: white;
}

.nc_button {
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 3px;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}

.nc_button a,
.nc_button a:link,
.nc_button a:visited,
.nc_button a:active {
    color: #94CD1B;
}

.nc_button a .icon {
    padding: 0px 0px 0px 20px;
    height: 16px;
}

.icon_go {
    background: url('../images/key_go.png') no-repeat left top;
}

.icon_accept {
    background: url('../images/accept.png') no-repeat left top;
}

.icon_delete {
    background: url('../images/delete.png') no-repeat left top;
}

.clear {
    clear: both;
}

.print_only {
    display: none;
}